.petal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 140px;
    background-color: #fff;
    border-radius: 100% 100% 60% 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform-origin: center 70px;
    /* este valor es crucial */
    transition: background-color 0.3s;
    cursor: pointer;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(0deg) translate(0, -120px);
}

.petal.off {
    background-color: #bbb;
}

.petal-label {
    transform: rotate(calc(-1 * var(--angle, 0deg)));
    pointer-events: none;
}